@model IEnumerable<_001TN0172.Models.ShowUserMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<div class="content-wrapper">


    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h1 class="card-title">User Master</h1>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <h1>Employee List</h1>

            <p style="text-align:right;margin-right:20px;">
                <a class="btn btn-primary" asp-action="UserMaster">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LoginID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoginName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LoginType)
                            </th>
                            <th></th>
                            <th>Edit Action</th>
                            <th>Details Action</th>
                            <th>Delete Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoginID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoginName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoginType)
                            </td>
                            <td></td>
                            <td class="text-center">
                                <a asp-action="AddOrEdit" class="btn btn-primary" asp-route-LoginID="@item.LoginID">Edit</a>
                            </td>
                            <td class="text-center">
                                <a asp-action="Details" class="btn btn-info" asp-route-LoginID="@item.LoginID">Details</a>
                            </td>
                            <td class="text-center">
                                <a asp-action="Delete" class="btn btn-danger" asp-route-LoginID="@item.LoginID">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>