@{Layout = null;}
@model _001TN0172.Models.RegisterNew  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HDFC MSIL</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1"><b>HDFC </b>MSIL</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Register a new User</p>

                @using (Html.BeginForm("RegisterNew", "Login", FormMethod.Post))
                {
                    if (TempData["alertMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> × </button>
                            @TempData["alertMessage"].ToString()
                        </div>
                    }

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.LoginName, new { @placeholder = "Enter Your User Name", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Your Password ...", @class = "form-control" })

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @*<input type="password" class="form-control" placeholder="Retype password">*@
                        @Html.PasswordFor(m => m.ReTypePassword, new { @placeholder = "Retype password", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.DropDownListFor(m => m.LoginType, new SelectList(
                 new List<Object>{
                       new { value = 0 , text = "Select Role Type"  },
                      new { value = "ADMIN" , text = "ADMIN"  },
                      new { value = "CASH OPS" , text = "CASH OPS" },
                      new { value = "TRADE OPS" , text = "TRADE OPS"}}, "value", "text", 0), new { @placeholder = "Role Type", @class = "form-control" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user-cog"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
                <a href="@Url.Action("LoginPage", "Login")" class="text-center">I already have a User</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
