@model IEnumerable<HDFCMSILWebMVC.Models.AuthorizInvoicesonly>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

    <script type="text/javascript">
        function selects() {
            var ele = document.getElementsByName('IsSelect');
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = true;
            }
            countCheckboxes();
        }
        function deSelect() {
            var ele = document.getElementsByName('IsSelect');
            for (var i = 0; i < ele.length; i++) {
                if (ele[i].type == 'checkbox')
                    ele[i].checked = false;

            }
            countCheckboxes();
        }
        function countCheckboxes() {
            var countInput = document.getElementById('count');
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');



            for (var i = 0; i < checkboxes.length; i++)
            {
                checkboxes[i].onchange = countCheckboxes;
            }

            var count = 0;
            for (var i = 0; i < checkboxes.length; i++)
            {
                if (checkboxes[i].checked && !checkboxes[i].disabled  )
                    count++;
            }
            $("#count").html("Selected Count : " + count);
            countInput.value = count;
        }
        countCheckboxes();
        //yogesh



    </script>


</head>
<div class="content-wrapper">
    @using (Html.BeginForm("Show", "CancelationInvoiceAndDO", FormMethod.Post))
    {
        if (TempData["alertMessage"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> × </button>
                @TempData["alertMessage"].ToString()
            </div>
        }

        <!-- general form elements disabled -->
        <div class="card card-warning">
            <div class="card-header">
                <h1 class="card-title">Invoice Data</h1>
            </div>
            <p style="text-align:right;margin-right:20px;margin-top: 8px;">
                <div class="row">

                    <div class="col-sm-2">
                        <label id="count" class="control-label">Selected Count : 0</label>
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-2">

                    </div>

                    <div class="col-sm-4">
                        <a class="btn btn-primary" onclick='selects()'>Select All</a>
                        <a class="btn btn-primary" onclick='deSelect()'>De-Select All</a>
                        <button type="submit" class="btn btn-primary" value="DeleteCancel_InvoicesOnly" asp-action="DeleteCancel_InvoicesOnly" onclick=" return validateForm()"><i class="fas fa-trash"></i>Delete</button>
                        @*<button id="cambiarAreaE">Click me</button>*@
                        <a class="btn btn-danger" asp-action="ShowAuthorisation">Back</a>
                    </div>
                </div>
            </p>
            <!-- /.card-header -->
            <div class="table-responsive">
                <table id="example" class="table table-striped">

                    <thead>
                        <tr>
                            <th>
                                @*<label class="control-label">Select</label>*@
                                @Html.DisplayNameFor(model => model.IsSelect)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoice_Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Invoice_Amount)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input data-val="true" data-val-required="The isActive field is required." id="IsSelect" name="IsSelect" type="checkbox" value="@item.Invoice_Number,@item.Invoice_ID" onclick="countCheckboxes()" />
                                    <input name="IsSelect" type="hidden" value="false" />

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Invoice_Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Invoice_Amount)
                                </td>

                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script>
                            function validateForm() {
                                var count = '@Model.Count()';

                                if (count== 0 ) {
                                    alert("No Data found to download.");
                                    return false;
                                }
                                if (count == null) {
                                    alert("No Data found to download.");
                                    return false;
                                }

                                var countInput = document.getElementById('count');
                                var checkboxes = document.querySelectorAll('input[type="checkbox"]');

                                var countSelect = 0;
                                for (var i = 0; i < checkboxes.length; i++) {
                                    if (checkboxes[i].checked )
                                        countSelect++;
                                }

                                if (countSelect == 0) {
                                    alert("Please Select Data to Delete.");
                                    return false;
                                }
                                const response = confirm("Are you sure you want to delete?");

                                if (response == true) {

                                    return true;
                                }
                                else { return false;}

                            }
                </script>
            </div>
        </div>
    }
</div>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>