using _001TN0172;
@*@model IEnumerable<_001TN0172.Models.Gefu>*@
@using System.Data
@model DataTable
{
    ViewBag.Title = "Gefu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="../../plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="../../plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="../../plugins/dropzone/min/dropzone.min.css">
    <!-- Theme style -->
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">


</head>
<div class="content-wrapper">

    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h1 class="card-title">Gefu</h1>
        </div>
        <p style="text-align:right;margin-right:20px;">
            <a class="btn btn-primary" asp-action="GenExcel">Excel</a>
            <a class="btn btn-primary" asp-action="ShowGefu">Back</a>
        </p>
        <!-- /.card-header -->
        <div class="card-body">
            

                <table id="example1" class="table table-bordered table-striped">
                    <!--<tr>
            <th>-->
                    @*@Html.DisplayNameFor(model => model.Cash_Ops_ID)*@
                    <!--Cash OpsID
            </th>

            <th>-->
                    @*@Html.DisplayNameFor(model => model.Account_No)*@
                    <!--Account No
            </th>

            <th>-->
                    @*@Html.DisplayNameFor(model => model.Account_ini)*@
                    <!--DR/CR Number
            </th>
            <th>-->
                    @*@Html.DisplayNameFor(model => model.DeCR_Status)*@
                    <!--DR/CR Status
            </th>
            <th>-->
                    @*@Html.DisplayNameFor(model => model.Transaction_Amount)*@
                    <!--Amount
            </th>
            <th>-->
                    @*@Html.DisplayNameFor(model => model.UTR_No)*@
                    <!--UTR/VIRTUAL
            </th>
            <th>-->
                    @*@Html.DisplayNameFor(model => model.Virtual_Account)*@
                    <!--VIRTUAL Account No
                </th>
            </tr>-->
                    <tr>
                        @if (Model != null)
                        {
                            @foreach (DataColumn col in Model.Columns)
                            {

                                <th>@col.ColumnName</th>
                            }
                        }
                        else
                        {
                        <tr>
                            <td><div>No record Found</div></td>
                        </tr>
                    }
                        </tr>

                        @*@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Cash_Ops_ID
                            </td>
                            <td>
                                @item.Dr_Acc
                            </td>
                            <td>
                                @item.Dr_Acc1
                            </td>
                            <td>
                                @item.Debitstatus
                            </td>
                            <td>
                                @item.Transaction_Amount
                            </td>
                            <td>
                                @item.UTR_No
                            </td>
                            <td>
                                @item.Virtual_Account
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @item.Cash_Ops_ID
                            </td>
                            <td>
                                @item.CR_Acc
                            </td>
                            <td>
                                @item.Cr_Acc1
                            </td>
                            <td>
                                @item.Creditstatus
                            </td>
                            <td>
                                @item.Transaction_Amount
                            </td>
                            <td>
                                @item.UTR_No
                            </td>
                            <td>
                                @item.Virtual_Account
                            </td>

                        </tr>
                    }*@

                        @if (Model != null)
                        {
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td><div>No record Found</div></td>
                            </tr>
                        }
                    </table>
                
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../../plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="../../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="../../plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
